<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>294685297051-uknkfs27h0o56tbkau9oit930ar72p6p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.294685297051-uknkfs27h0o56tbkau9oit930ar72p6p</string>
	<key>API_KEY</key>
	<string>AIzaSyCEqzM17U9t6WdDe8XQH4yqEO2vy46jfXY</string>
	<key>GCM_SENDER_ID</key>
	<string>294685297051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uniproject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>uni-project-180cd</string>
	<key>STORAGE_BUCKET</key>
	<string>uni-project-180cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:294685297051:ios:1790d3a6f7cb8deae4b93e</string>
</dict>
</plist>